Source: qucsrflayout
Section: electronics
Priority: optional
Maintainer: Thomas Lepoix <thomas.lepoix@protonmail.ch>
Uploaders: Thomas Lepoix <thomas.lepoix@protonmail.ch>
Homepage: https://github.com/thomaslepoix/Qucs-RFlayout
Vcs-Git: https://github.com/thomaslepoix/Qucs-RFlayout
Vcs-Browser: https://github.com/thomaslepoix/Qucs-RFlayout
Build-Depends:
 debhelper,
 cmake,
 qt6-base-dev,
 libqt6opengl6-dev,
 libglu1-mesa-dev,
 texlive-xetex,
 fonts-lato

Package: qucsrflayout
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: qucs, kicad, pcb-rnd, octave-openems
Enhances: qucs, octave-openems
Description: A tool to produce layout from qucs RF schematics
 (microstrip only for now).
